body {
    margin-top: 150px;
    margin-left: 150px
}

p {
    margin-top: 40px;
}

.btn {
    text-decoration: none;
    border: solid;
    padding: 10px 16px;
    background-color: burlywood;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.green {
    background-color: green;
}

.orange {
    background-color: #ff9800;
}

i {
    content: "\f005";
    margin-right: 5px;
    margin-left: -5px;
    font-size: 13px;
    padding-top: 2px;
}